<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dongnaegoyang">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 외부에서 사진 가져오기 -->
    <!-- 인터넷 사용 권한 설정 -->
    <!-- 사용자 갤러리에서 사진 가져오기 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 사용자 갤러리에서 사진 가져오기 -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries> <!-- 사용자 갤러리에서 사진 가져오기 -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".login.kakaoLogin.InitApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".login.SignUpDialogActivity"
            android:exported="false" /> <!-- 카카오 로그인 SDK -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao60d315c94bbadde870d7af4baa18d52d" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".cat_detail.CatDetailActivity"
            android:exported="false"
            android:label="고양이 상세 페이지" />
        <activity
            android:name=".cat_add.CatAddActivity"
            android:exported="false"
            android:label="고양이 추가 페이지" />
        <activity
            android:name=".cat_search.SearchCatActivity"
            android:exported="false"
            android:label="고양이 검색 페이지" />
        <activity
            android:name=".address_search.SearchAddressActivity"
            android:exported="false"
            android:label="주소 검색 페이지" />
        <activity
            android:name=".onboarding.OnBoardingActivity"
            android:exported="false"
            android:label="온보딩 화면"/>
        <activity
            android:name=".home.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>