<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dongnaegoyang">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 외부에서 사진 가져오기 -->

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity
            android:name=".cat_detail.CatDetailActivity"
            android:exported="false"
            android:label="고양이 상세 페이지"/>
        <activity
            android:name=".cat_add.CatAddActivity"
            android:exported="false"
            android:label="고양이 추가 페이지"/>
        <activity
            android:name=".home.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>